gamedata.db0
gamedata.db1
gamedata.db2
gamedata.db3
gamedata.db4
gamedata.db5
gamedata.db6
gamedata.db7
gamedata.db8
gamedata.db9
gamedata.dba
gamedata.dbb
gamedata.dbc
gamedata.dbd
gamedata/spawns/ACDC
profile
mods
